@font-face {
    font-family: 'Gilroy-Bold';
    font-weight: bolder;
    src: local('Gilroy-Bold'),
         url("fonts/GilroyBold.ttf") format('truetype'),
         url("fonts/GilroyBold.woff") format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'),
        url("fonts/GilroyMedium.ttf") format('truetype'),
        url("fonts/GilroyMedium.woff") format('woff');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'),
        url("fonts/GilroyRegular.ttf") format('truetype'),
        url("fonts/GilroyRegular.woff") format('woff');
}
@font-face {
    font-family: 'Gilroy-Semibold';
    font-weight: bold;
    src: local('Gilroy-Semibold'),
        url("fonts/GilroySemiBold.ttf") format('truetype'),
        url("fonts/GilroySemiBold.woff") format('woff');
}

h1, h2, h3{font-family: 'gilroy-Bold';}
p{font-family: 'Gilroy-Regular';}
a{font-family: 'Gilroy-Semibold';}

* {margin: 0; padding: 0;}

html{margin: 0 auto; max-width: 1920px;background-color: #d5cfcf;}

body{
    background-color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 5px 15px 10px 5px rgba(0, 0, 0, 0.2);
}

a  {color: black; text-decoration: none;}

h1 {
    font-size: 60px;
    line-height: 70px;    
}



/*голова*/
.header{
    padding-top: 91px;
    padding-bottom: 51px;
}
.header .gap{gap: 40px;}


/*домашняя страница*/
.home{
    padding-top: 60px;
    padding-bottom: 111px;
}

    .home p{
        font-family: 'Gilroy-Medium';
        font-size: 25px;
        line-height: 25px;
        padding: 25px 0;
    }
    .home span{
        border: solid 1px #F25822;
        border-radius: 100%;
    }


.home__content{
    padding-top: 100px;
    max-width: 543px;
}

.home__img{
    padding-right: 65px;
    width: 630px;
}

.buttons{
    padding-top: 15px;
}
    .buttons p{
        font-size: 15px;
            line-height: 18px;
            color: #AAAAAA;
        }
        .buttons__gap{gap: 22px;}/*???*/
    
    
    
/*логотипы*/
.brend{
    padding-top: 97px;
    padding-bottom: 97px;
}
    
    /* о нас*/
    .about{
        position: relative;
        height: 540px;
        /* background-image: url(img/vector.svg); */
    }
    .vektor1{
        position: absolute;
        max-width: 1900px;
        left: 0;
        top: 50px;
        transform: rotate(2deg);
    }
    .vektor2{
        position: absolute;
        max-width: 1900px;
        left: 5px;
        top: -50px;
        transform: matrix(1, 0.04, 0.04, -1, 0, 0);
    }
    
    
    .about_content{
        position: absolute;
        margin-right: 60%;
        top: 100px;
    }
    .about_content h2{
        font-size: 45px;
        line-height: 53px;
    }
    .about_content p{
        font-size: 16px;
        line-height: 24px;
        padding: 25px 0;
    }
    
    
    .about_img{
        position: absolute;
        left: 40%;
        top: -30px;
    }
    
    
    /* особенности */
    .feature{
        gap: 60px;
    }
    .feature h3{
        padding-top: 25px;
        padding-bottom: 17px;
        font-size: 24px;
        line-height: 28px;
    }
    .feature p{
        padding-bottom: 25px;
        font-size: 15px;
        line-height: 22px;
    }
    .feature a{
        font-weight: 900;
        font-size: 13px;
        line-height: 20px;
    }
    
    .features__block__1{
        max-width: 350px;
        margin-top: 140px;
        margin-bottom: 125px;
        margin-left: 40px;
    }
    
    .features__block__2{
    max-width: 370px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 25px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features__img{
    border-radius: 15px;
    padding: 22px;    
}


/*услуги*/
.services{
    padding-top: 92px;
    padding-bottom: 100px;
}

.services h2{
    font-size: 45px;
    line-height: 53px;
}
.services h3{
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
}
.services p{
    margin-top: 22px;
    margin-bottom: 39px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #AAAAAA;
}

.services__p{
    margin-top: 19px;
    margin-bottom: 55px;
    max-width: 682px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.services_blocks{
    gap: 30px;
}
.services_block__1{
    background-color: #FFFFFF;
    max-width: 340px;
    padding: 0 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.services_block__2{
    background-color: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    padding: 0 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.services__img{
    height: 270px;
    max-width: 340px;
}


/*блок "что мы делаем"*/
.do{
    padding-right: calc(50% - 660px);
}

.do__column{
    padding-top: 107px;
}
.do__column h2{
    font-size: 45px;
    line-height: 53px;
}
.do__column p{
    margin-top: 19px;
    margin-bottom: 79px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.do__img{
    border-radius: 50%;
    padding: 30px;
}


/*для кнопок*/
.button { 
    font-family: 'Gilroy-Bold';
    padding: 12px 27px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    cursor: pointer;
}



/*цвета*/
.orange{color: #F25822;}
.b__orange{background-color: #F25822;}
.b__light{background-color: #FAFAFA;}
.txt__white{color: #FFFFFF;}
.txt__1{color: #888888;}
.txt__2{color: #666666;}

.col__1{background: rgba(242, 88, 34, 0.25);}/*светофор*/
.col__2{background: rgba(20, 146, 17, 0.28);}
.col__3{background: rgba(255, 205, 29, 0.24);}


/*позиционирование*/
.side_margins{margin-left: 11%; margin-right: 11%;}

.flex{display: flex;}
.grid{display: grid;}

.column{flex-direction: column;}

.wrap{flex-wrap: wrap;}

.jc-c{justify-content: center;}
.jc-fe{justify-content: flex-end;}
.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}

.item__c{align-items: center;}


.center{/*центровка*/
    padding-left: calc(50% - 660px);
    padding-right: calc(50% - 660px);
}

